{% extends 'base.html'%}

{% block title_block %}
    Customer | Create
{% endblock %}

{% block customer_active %}active{% endblock %}

{% block body_block %}
    <div class="container">
        <h3 class="display-5">Enter Customer details:</h3>
        <form method="post">
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                <div class="form-group row">
                    <label for="{{ field.id_for_label }}" class="col-sm-auto col-form-label"><strong>{{ field.label }}</strong></label>
                    <div class="col">
                        {{ field }}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% csrf_token %}
            <div class="container text-center">
                <input type="submit" class="btn btn-success" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}
