{% extends 'base.html'%}

{% block title_block %}
    Customer | List
{% endblock %}

{% block customer_active %}active{% endblock %}

{% block body_block %}
    <h1>Here are your Customers:</h1>
    {% if cust_records%}
        <table border="1px">
            <tr>
                <th>Name</th>
                <th>Date of Issue</th>
                <th>Reward Points</th>
                <th>Redemption Max</th>
            </tr>
            {% for entry in cust_records %}
                <tr>
                    <td>{{entry.name}}</td>
                    <td>{{entry.date_of_issue}}</td>
                    <td>{{entry.cur_rewards}}</td>
                    <td>{{entry.max_red}}</td>
                </tr>
            {% endfor %}
        </table>
    {%else%}
        <h2>There are no Customer Records!</h2>
    {%endif%}
{% endblock %}
