{% extends 'base.html'%}

{% block title_block %}
    Customer | List
{% endblock %}

{% block customer_active %}active{% endblock %}

{% block body_block %}

    {% if cust_records%}
        <div class="container my-4">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Date of Issue</th>
                        <th scope="col">Reward Points</th>
                        <th scope="col">Redemption Max</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in cust_records %}
                    <tr>
                        <td>{{entry.name}}</td>
                        <td>{{entry.date_of_issue}}</td>
                        <td>{{entry.cur_rewards}}</td>
                        <td>{{entry.max_red}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {%else%}
        <div class="jumbotron">
            <h2 class="display-5">There are no Customers!</h2>
        </div>
    {%endif%}
{% endblock %}
