{% extends 'base.html'%}

{% block title_block %}
    Scheme | List
{% endblock %}

{% block scheme_active %}active{% endblock %}


{% block body_block %}
    {% if scheme_records%}
        <div class="container my-4">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Transaction Value</th>
                        <th scope="col">Frequency Of Transactions</th>
                        <th scope="col">Volume Of Spending</th>
                        <th scope="col">Period</th>
                        <th scope="col">Loyalty Duration</th>
                        <th scope="col">Valid From</th>
                        <th scope="col">Valid To</th>
                        <th scope="col">Money</th>
                        <th scope="col">Points</th>
                        <th scope="col">Redemption Max</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in scheme_records %}
                    <tr>
                        <th scope="row">{{entry.name}}</td>
                        <td>{{entry.transaction_value}}</td>
                        <td>{{entry.frequency_of_transactions}}</td>
                        <td>{{entry.vol_of_spending}}</td>
                        <td>{{entry.period}}</td>
                        <td>{{entry.loyalty_duration}}</td>
                        <td>{{entry.valid_from}}</td>
                        <td>{{entry.valid_to}}</td>
                        <td>{{entry.money}}</td>
                        <td>{{entry.points}}</td>
                        <td>{{entry.redemp_max}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {%else%}
        <div class="jumbotron">
            <h2 class="display-5">There are no Schemes!</h2>
        </div>
    {%endif%}

{% endblock %}
