{% extends 'base.html'%}

{% block title_block %}
    Scheme | List
{% endblock %}

{% block scheme_active %}active{% endblock %}


{% block body_block %}
    <h1>Here are your Schemes:</h1>
    {% if scheme_records%}
        <table border="1px">
            <tr>
                <th>Name</th>
                <th>Transaction Value</th>
                <th>Frequency Of Transactions</th>
                <th>Volume Of Spending</th>
                <th>Period</th>
                <th>Loyalty Duration</th>
                <th>Valid From</th>
                <th>Valid To</th>
                <th>Money</th>
                <th>Points</th>
                <th>Redemption Max</th>
            </tr>
            {% for entry in scheme_records %}
                <tr>
                    <td>{{entry.name}}</td>
                    <td>{{entry.transaction_value}}</td>
                    <td>{{entry.frequency_of_transactions}}</td>
                    <td>{{entry.vol_of_spending}}</td>
                    <td>{{entry.period}}</td>
                    <td>{{entry.loyalty_duration}}</td>
                    <td>{{entry.valid_from}}</td>
                    <td>{{entry.valid_to}}</td>
                    <td>{{entry.money}}</td>
                    <td>{{entry.points}}</td>
                    <td>{{entry.redemp_max}}</td>
                </tr>
            {% endfor %}
        </table>
    {%else%}
        <h2>There are no Scheme Records!</h2>
    {%endif%}
{% endblock %}
