<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Demonstration</title>
    </head>
    <body>
        <ul>
            <li>
                <a href="{%url 'scheme_gen:list'%}">List Of Schemes</a>
            </li>
            <li>
            <a href="{%url 'scheme_gen:formcreate'%}">Create Transaction</a>
            </li>
            <li>
            <a href="{%url 'scheme_gen:create'%}">Create Scheme</a>
            </li>
            <li>
            <a href="{%url 'scheme_gen:formlist'%}">List Transactions</a>
            </li>
            <li>
            <a href="{%url 'scheme_gen:customerlist'%}">List Customers</a>
            </li>
            <li>
                <a href="{%url 'scheme_gen:customerform'%}">Create Customers</a>
            </li>
        </ul>

    </body>
</html>
