{% extends 'base.html'%}

{% block title_block %}
    Transaction | List
{% endblock %}

{% block transaction_active %}active{% endblock %}

{% block body_block %}
    <h1>Here are your Transactions:</h1>
    {% if transact_records%}
    <table border="1px">
        <tr>
            <th>ID</th>
            <th>Transaction Value</th>
            <th>Time</th>
            <th>Customer</th>
        </tr>
        {% for entry in transact_records %}
        <tr>
            <td>{{entry.id}}</td>
            <td>{{entry.value}}</td>
            <td>{{entry.time_stamp}}</td>
            <td>{{entry.user_name}}</td>
        </tr>
        {% endfor %}
    </table>
    {%else%}
    <h2>There are no Transaction Records!</h2>
    {%endif%}
{% endblock %}
