{% extends 'base.html'%}

{% block title_block %}
    Transaction | List
{% endblock %}

{% block transaction_active %}active{% endblock %}

{% block body_block %}
    {% if transact_records%}
        <div class="container my-4">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Transaction Value</th>
                        <th scope="col">Time</th>
                        <th scope="col">Customer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in transact_records %}
                    <tr>
                        <th scope="row">{{entry.id}}</th>
                        <td>{{entry.value}}</td>
                        <td>{{entry.time_stamp}}</td>
                        <td>{{entry.user_name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {%else%}
        <div class="jumbotron">
            <h2 class="display-5">There are no Transaction Records!</h2>
        </div>
    {%endif%}

{% endblock %}
